<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Echelon"
        android:allowBackup="false"
        android:hardwareAccelerated="true">

        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="echelon" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
